{% load static %}
<!DOCTYPE html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">x</th>
      <th scope="col">y</th>
      <th scope="col">postime</th>
    </tr>
  </thead>
  <tbody>
    {% for i in rd %}
    <tr>
      <th scope="row">#</th>
      <td>{{i.robotPositionX}}</td>
      <td>{{ i.robotPositionY }}</td>
      <td>{{ i.postime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Position</th>
      <th scope="col">Method</th>
      <th scope="col">reqTime</th>
      <th scope="col">ref</th>
      <th scope="col">refTime</th>
    </tr>
  </thead>
  <tbody>
    {% for i in rdd %}
    <tr>
      <th scope="row">#</th>
      <td>{{ i.requestPosition}}</td>
      <td>{{ i.requestMethod }}</td>
      <td>{{ i.requestTime }}</td>
      <td>{{ i.referenceStatus }}</td>
      <td>{{ i.referenceTime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>